/* General CSS */
body{
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #3b3b3b;
	background-image: url("../images/conc_Blur.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#scheduler{
	margin: 0 auto;
}

.roomTabs{
	display: block;
	text-align: center;
	min-width: 1050px;
}

#profile-bar{
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

#todayDate{
    float:right;
    margin-top: 5px;
}

#createBtn{
	background-color:#800000;
}

.deleteBtn{
	background-color:#FCC200 !important;
}

button:focus {
    outline: none;
    background-color: #800000 !important;
}