/* General CSS */
body{
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #3b3b3b;
	background-image: url("../images/conc_Blur.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#currentReservations{
	margin: 0 auto;
	width: 100%;
}

#scheduler{
	min-width: 1001px;
	position:relative;
	left:23px;
}

#roomTabs{
	display: block;
	text-align: center;
	min-width: 1050px;
}

#profile-bar{
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

#todayDate{
    float:right;
    margin-top: 5px;
}

#createBtn{
	background-color:#800000;
	margin: 10px;
}

.modifyBtn{
	background-color:#800000 !important;
	margin:10px;
}

.deleteBtn{
	background-color:#FCC200 !important;
	margin:10px;
}

.btnFlex{
	display: inline-flex;
}

.flex-wrapper{
	display: flex;
	justify-content: center;
}

button:focus {
    outline: none;
    background-color: #800000 !important;
}

.actionTitle{
	color: white;
}

#actionWrapperWaitlist{
  padding: 0px 0px 0px 40px;
  max-width: 800px;
  width: 400px;
}

#actionWrapperCreate{
  padding: 0px 40px 0px 0px;
  max-width: 800px;
  width: 400px;
}