{{define "createReservation"}}
<div id='createReservationForm'>
	<br>
	<h1>Create a reservation</h1>
	<form action="/createReservation" method="post">
		<table>
		<tr>
			<td>Room number (1-5):</td>
			<td>
				<select name="room">
					<option value="1">Room 1</option>
					<option value="2">Room 2</option>
					<option value="3">Room 3</option>
					<option value="4">Room 4</option>
					<option value="5">Room 5</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Date (DD/MM/YYYY):</td>
			<td><input name="date" type="text"></td>
		</tr>
		<tr>
			<td>Start time (HH):</td>
			<td><input name="start_time" type="text"></td>
		</tr>
		<tr>
			<td>End time (HH):</td>
			<td><input name="end_time" type="text"></td>
		</tr>
		</table>
		<input type="submit" value="Submit">
	</form>
</div>
{{end}}